body {
  background-color: #DDD;
}

#page {
  width: 920px;
  margin: 20px auto;  
}

#content {
  width: 680px;
  background-color: white;
  padding: 20px;
  border: 3px solid black;
}
#sidebar {
  width: 180px;
  float: right;
}

#sidebar ul {
  list-style-type: none;
}

#sidebar li {
  margin-top: 0.5em;
}

.angular pre {
  overflow-x: scroll;
}