<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>angular.js - {{ page.title }}</title>
	<link href="/stylesheets/screen.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/angular.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/prettify.css" media="screen" rel="stylesheet" type="text/css" />
	<link href="/stylesheets/jquery-ui-1.7.1.css" media="screen" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-8594346-3");
    pageTracker._setDomainName(".angularjs.org");
    pageTracker._trackPageview();
    } catch(err) {}
  </script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/scripts/underscore.js"></script>
	<script type="text/javascript" src="/scripts/angular.js"></script>
	<script type="text/javascript" src="/scripts/demo.js"></script>
	<script type="text/javascript" src="/scripts/prettify.js"></script>
	<script type="text/javascript">
    $(function(){
      $(".angular").each(function(i){
        tabify(this, i);
      });
      window.prettyPrint();

      scope = angular.compile(document);
      scope.init();
      scope.updateView();
    });
  </script>  
</head>
  <body>
    <div id="page">
      <div id="sidebar">
        <ul>
          <li><a href="http://github.com/angular/angular.js">Source</a></li>
          <li><a href="http://docs.getangular.com">Documentation</a></li>
          <li><a href="http://www.getangular.com">GetAngular.com</a></li>
        </ul>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
